<div class="grid p-fluid">
    <div class="col-12 md:col-4 logo">autotme</div>
    <div class="title"> Create Automation</div>
    <div class="cards">
        <p-card [style]="{width: '150px'}"  routerLink="/set-message"  styleClass="p-card-shadow">
            Setup Smart Messages
        </p-card>
        <p-card  [style]="{width: '150px'}" styleClass="p-card-shadow">
            Social Media Automation
        </p-card>
        <p-card  [style]="{width: '150px'}" styleClass="p-card-shadow">
            Existing Affiliate Promotion
        </p-card>
    </div>
    <div class="cards" style="margin-top: 20px;">
        <p-card  [style]="{width: '150px'}" styleClass="p-card-shadow">
            Setup Merchandise Store
    
        </p-card  >
        <p-card [style]="{width: '150px'}" styleClass="p-card-shadow">
            Influencer Marketing Campaign
           
        </p-card>
        <p-card [style]="{width: '150px'}" styleClass="p-card-shadow">
            Create Smart Payment
            
        </p-card>
    </div>


</div>