


.logo{
    color: var(--autotme-primary);
    font-size: 2em;
    padding-top: 10%;
    
    text-align: center;
}

h3{
    color: var(--text-color);
    text-align: center;
    margin-top: 100px;
}

.home{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    margin-top: 30px;
    grid-gap: 1em;
    padding: 30px;
    color: var(--text-color);
}

.home p-card{
   
    text-align: center;
    box-shadow: 0 2px 1px -1px #6366f1;
}

.header{
    display: none ;
}
.mob-header .logo{
 
    text-align: center;
    width: 100%;
    align-items: center;
}

.slider{
    position: absolute;
    top: 32px;
    left: 22px;
  
}

:host ::ng-deep {
    .p-card .p-card-body{
        height: 225px;
        display: flex;
    justify-content: center;
    align-items: center;
    }
}


@media screen and (min-width: 968px) {

    .mob-header{
        display: none ;
    }
    
    .logout{
        padding-top: 1%;
        margin-right: 100px;
    }
    
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        color: var(--autotme-primary);
        padding-top: 0%;
        padding-left: 4%;text-align: start;
    }

    h3{
        color: var(--text-color);
        text-align: center;
        margin-top: 30px;
    }

    .home{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
        margin-top: 30px;
        grid-gap: 1em;
        padding: 0% 10%;
        color: var(--text-color);
    }

    :host ::ng-deep {
        .p-card .p-card-body{
            height: 100px;
            display: flex;
        justify-content: center;
        align-items: center;
        }
    }

    h4{
        color: var(--text-color);}

       
}