<p-sidebar [(visible)]="visibleSidebar1" p-sidebar-sm [baseZIndex]="10000">
    <p-button icon="pi pi-sign-out" pTooltip="logout" (click)="logout()" label="logout"></p-button>
</p-sidebar>
<div class="header">
    <div class="logo"> autotme </div>
    <div class="logout">
        <p-button icon="pi pi-sign-out" pTooltip="logout" (click)="logout()"></p-button>
    </div>
</div>

<div class="mob-header">
    <div class="slider">
        <p-button icon="pi pi-align-justify" (click)="visibleSidebar1 = true"></p-button>
    </div>
    <div class="logo"> autotme </div>

</div>
<div style="width: 70%;margin: auto;">
<h3>Engagement Features</h3>
<div class="grid">
    <p-card class="col-4" routerLink="/set-message" styleClass="p-card-shadow">
        Setup Smart Messages
    </p-card>

    <p-card class="col-4" routerLink="/setup-social-media" styleClass="p-card-shadow">
        Social Media Handles
    </p-card>
    <p-card class="col-4" routerLink="/my-link-page" styleClass="p-card-shadow">
        My Links Page
    </p-card>



</div>

<h3>Monetization Features</h3>
<div class="grid">
    <p-card class="col-4" routerLink="/set-message" styleClass="p-card-shadow">
        Setup Merchandise store
        <div>(Coming Soon)</div>
    </p-card>

    <p-card class="col-4" routerLink="/setup-social-media" styleClass="p-card-shadow">
        Setup Paid Telegram Group
        <div>(Coming Soon)</div>
    </p-card>
    <p-card class="col-4" routerLink="/my-link-page" styleClass="p-card-shadow">
        Create Smart Payment Page
        <div>(Coming Soon)</div>
    </p-card>



</div>

<div class="scheduled-table">
    <h4>Ongoing Scheduled Messages</h4>
    <p-table  >
        <ng-template pTemplate="header">
            <tr>
                <th>Message Text</th>
                <th>Api</th>
                <th>Scheduled time</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr>
                <td><p>sdgfdf</p></td>
                <td>gdfgfdg</td>
                <td>gdfgdg</td>
                <td>dfgdfgdfg</td>
            </tr>

              <tr>
                <td><p>sdgfdf</p></td>
                <td>gdfgfdg</td>
                <td>gdfgdg</td>
                <td>dfgdfgdfg</td>
            </tr>

              <tr>
                <td><p>sdgfdf</p></td>
                <td>gdfgfdg</td>
                <td>gdfgdg</td>
                <td>dfgdfgdfg</td>
            </tr>  <tr>
                <td><p>sdgfdf</p></td>
                <td>gdfgfdg</td>
                <td>gdfgdg</td>
                <td>dfgdfgdfg</td>
            </tr>
        </ng-template>
    </p-table>
</div>

</div>