.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.mt-10{
    margin-top: 10px;
}
.logo{
    color: #6366F1;
   
    margin-bottom: 50px;
    font-size: 30px;
}