.logo{
    color: var(--autotme-primary);
    font-size: 2em;
    padding-top: 10%;
    padding-left: 5%;
}


.channel-name-label p{
    text-align: center;
    padding-top: 30%;
    font-size: 1em;
    color: var(--text-color);
    grid-column: 1/9;
    margin-bottom: 10px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.text-input input{
    width: 100%;
    grid-row: 1;
    grid-column: 2/8;
}

.gen-otp-btn button{
    width: 100%;
    font-size: .8em;
    grid-row: 1;
    margin-top: 10px;
    grid-column: 3/7;
}

.sent-otp-msg p {
    text-align: center;
    margin-top: 20px;
    font-size: .8em;
    color: var(--autotme-error);
}


@media screen and (min-width: 968px) {

    
   
    .logo{
        color: var(--autotme-primary);
        padding-top: 5%;
        padding-left: 4%;
    }
    .channel-name-label p{
        text-align: center;
        padding-top: 5%;
        color: var(--text-color);
       margin-bottom: 10px;
    }

    .text-input input{
        width: 100%;
        grid-row: 1;
        grid-column: 3/7;
    }
    
    .gen-otp-btn button{
        width: 100%;
        font-size: .8em;
        grid-row: 1;
        margin-top: 20px;
        grid-column: 4/6;
    }

    body{
        font-size: 30px !important;
    }

}