<div class="logo"> autotme </div>
<div  class="channel-name-label grid">
    <p>Enter Registered Telegram Channel Link/ Group Name</p>
</div>

<div class="text-input grid">
    <input type="text" pInputText [(ngModel)]="telegramChannelName"/>
</div>
<div class="gen-otp-btn grid">
    <button pButton type="button" [disabled]="!telegramChannelName" label="Generate OTP" (click)="generateOTP()" ></button>
</div>

<div class="sent-otp-msg">
    <p>You will receive OTP on your registered number</p>
</div>


<div *ngIf="!isUserRegistered" class="non-user-msg">
    <p> Entered telegram channel is not registered with us. To sign up : </p> <p-button label="Click here" styleClass="p-button-link" (click)="signup()"></p-button>
</div>

<div *ngIf="errormsg" class="non-user-msg">
    <p> {{errormsg}} </p> 
</div>

