<section class="social-media-url">
    <span class="p-input-icon-left" style="width:100%">
        <i class="pi pi-youtube"></i>
        <input type="text" style="width:100%" pInputText placeholder="Enter subscribe on youtube url" />
    </span>
</section>
<section  class="social-media-url">
    <span class="p-input-icon-left" style="width:100%">
        <i class="pi pi-twitter"></i>
        <input type="text" style="width:100%" pInputText placeholder="Enter follow on twitter url" />
    </span>
</section>
<section  class="social-media-url">
    <span class="p-input-icon-left" style="width:100%">
        <i class="pi pi-linkedin"></i>
        <input type="text" style="width:100%" pInputText placeholder="Enter follow on linkedin url" />
    </span>
</section>

<section  class="social-media-url">
    <span class="p-input-icon-left" style="width:100%">
        <i class="pi pi-instagram"></i>
        <input type="text" style="width:100%" pInputText placeholder="Enter follow on Instagram url" />
    </span>
</section>