
.social-media-url{
    margin-top: 40px;

    .pi-youtube{
        color: #FF0000;
        }

        .pi-twitter{
            color: #00ACEE;
            }

            .pi-linkedin{
                color: #0E76A8;
                }
        

 
}