<section class="social-media-url">
    <span class="p-input-icon-left" style="width:100%">
        <i class="pi pi-youtube"></i>
        <input type="text" style="width:100%" pInputText placeholder="Enter YouTube URL" />
    </span>
</section>
<section  class="social-media-url">
    <span class="p-input-icon-left" style="width:100%">
        <i class="pi pi-twitter"></i>
        <input type="text" style="width:100%" pInputText placeholder="Enter twitter URL" />
    </span>
</section>
<section  class="social-media-url">
    <span class="p-input-icon-left" style="width:100%">
        <i class="pi pi-linkedin"></i>
        <input type="text" style="width:100%" pInputText placeholder="Enter linkedin URL" />
    </span>
</section>