.logo{
    color: var(--autotme-primary);
    font-size: 2em;
    text-align: center;
    padding-top: 10%;
   
}

.otp-label p{
    text-align: center;
    font-size: 1em;
    color: var(--text-color);
    
    margin-top: 10px;
}

.enter-otp-label{
    text-align: center;
    font-size: 1em;
    color: var(--text-color);
    margin-bottom: 10px;
    margin-top: 10px;
}

.channel-name-label p{
    text-align: center;
    padding-top: 30%;
    font-size: 1em;
    color: var(--green-500);
  
}
.wrong-otp-msg{
    text-align: center;
    font-size: 1em;
    padding: 10px;
    color: var(--autotme-error);
}
.regen-otp-msg{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.regen-otp-msg p{
    font-size: 1em;
    color: var(--text-color);
    text-align: center;
    padding: 0.75rem 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.text-input input{
  
    grid-row: 1;
    grid-column: 2/8;
    margin: auto;
}

.gen-otp-btn button{
    width: 100%;
    font-size: .8em;
    grid-row: 1;
    margin-top: 10px;
    grid-column: 3/7;
}

.resent-otp-msg p {
    text-align: center;
    margin-top: 20px;
    font-size: .8em;
    color: var(--autotme-error);
}

.sent-otp-err-msg {
    text-align: center;
    margin-top: 20px;
    font-size: .8em;
    color: var(--autotme-error);
}
@media screen and (min-width: 968px) {

    
   
    .logo{
        color: var(--autotme-primary);
        padding-top: 5%;
        padding-left: 4%;
        text-align: start;
    }
    .channel-name-label p{
        text-align: center;
        padding-top: 5%;
        color: var(--green-500);
       margin-bottom: 10px;
    }

    .text-input input{
        
        grid-row: 1;
        grid-column: 3/7;
    }
    .gen-otp-btn{
        grid-template-columns: repeat(16,1fr);
    }
    .gen-otp-btn button{
      
        font-size: .8em;
        grid-row: 1;
        margin-top: 20px;
        grid-column: 8/10;
    }

    body{
        font-size: 30px;
    }

}