/* You can add global styles to this file, and also import other style files */
:root{
    --autotme-primary: #6366F1;
    --autotme-error:  #e24c4c;
    --autotme-info:  0 0 0 0.2rem #C7D2FE;
    

}

body,p{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

